folder4/* @snippets-n-memes/memers
folder1 @snippets-n-memes/fishdank @snippets-n-memes/memers
folder2 @snippets-n-memes/fishdank @snippets-n-memes/memers
*3/ @snippets-n-memes/fishdank
**/test @snippets-n-memes/memers
newfile @snippets-n-memes/fishdank
.github @snippets-n-memes/fishdank